
head {
    background-color: darksalmon;
}

body { padding-left: 20%;
    padding-right: 20%;
}

p {

    color: darkslategray;
    font-family: Georgia, serif;
    }

h1, h2, h3 {
    color: Plum;
    }

h1, h3 {
    text-align: center;
    }

h2 {
    text-align: right;
   border-bottom: 1px solid lightslategray;
    }

hr {
    border: 1px dotted lightgray;
    width: 50%;
    }

b, strong {
    font-weight: bold;
    color: Plum;

    }



